body.swal2-shown > [aria-hidden="true"] {
  transition: 0.5s filter;
  filter: blur(4px);
}
.swal2-deny {
  color: white;
  border-radius: 8px !important;
  background-color: #dc3545;
  /* box-shadow: 0 4px 14px 0 #dc3545 !important; */
}
.swal2-cancel {
  /* background-color: #f8d7da !important; */
  background-color: #4f73d9;
  color: white !important;
  border-radius: 8px !important;
}
.swal2-confirm {
  background-color: #10b065 !;
  /* box-shadow: 0 4px 4px 0 #16B55A !important; */
  border-radius: 8px !important;
}
.swal2-popup {
  border-radius: 10px !important;
  padding: 15px;
}
.swal2-title {
  padding: 0;
  font-size: large;
  font-weight: 800;
  margin-top: 5px;
  color: black;
  margin-left: 3% !important;
  margin-right: 3% !important;
  text-align: start;
}
.swal2-html-container {
  text-align: justify !important;
  margin-left: 3% !important;
  margin-right: 3% !important;
  font-weight: 400 !important;
  font-size: medium !important;
  margin-bottom: 16px !important;
  color: black !important;
}
.swal2-actions {
  width: 100% !important;
  justify-content: end !important;
  margin-top: 0%;
}
.swal2-show {
  animation: myCustomOpenAnimation 0.3s !important;
}
.swal2-hide {
  animation: myCustomCloseAnimation 0.2s !important;
}
@keyframes myCustomOpenAnimation {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes myCustomCloseAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

/* ============= for the bootstrap model ================ */
.modal-backdrop{
  background-color: rgb(90, 90, 90);
}
.modal.fade.show {
  backdrop-filter: blur(4px);
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.modal-header {
  padding-bottom: 8px;
}
.modal-title {
  font-weight: 900 !important;
}
.modal-body {
  padding-top: 8px;
  padding-bottom: 8px;
  color: black;
}
.modal-body p {
  margin-bottom: 0px;
}
.btn-cancelBtn {
  background-color: #f8d7da !important;
  color: #dc3545;
  border-radius: 8px !important;
}
.btn-okBtn {
  background-color: #10b065 !important ;
  color: white;
  border-radius: 8px !important;
}
.modal .modal-body form input,
.modal .modal-body form select{
  background-color: #ededed;
}
.modal .modal-body form label{
  margin-bottom: 2px;
}